.token.selector,
.token.property,
.token.function{
    color:black;
}
*{
    margin:0;
    padding:0;
}
body{
    font-size:12px;
    position:relative;
}

#resumePaper{
    position:absolute;
    top:0;
    right:15%;
    width:40%;
    height:80vh;
    box-sizing:border-box;
    background: white;
    box-shadow: -6px 6px 20px 10px  rgba(100,100,100,.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
#resumePaper>pre{
    width:80%;
    height:85%;
    border:8px #69DCFA solid;
    font-size:20px;
    padding:30px;
}